* {
  font-family: inherit;
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: 20px;
}
body {
  /*you  can apply multiple declarations inside of a box */
  background-color: rgb(197, 117, 117);
  /* background: url("./images/food.png"); */

  color: rgb(128, 20, 20);
  max-width: 400px;
  /*Centers BLOCK Elements*/
  margin: 0 auto;
  margin-top: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}
